.editCanvas h2 {
    margin: 5vh auto;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 8vh auto 0 auto;
    background: rgb(75, 75, 75);
    width: 80%;
    height: 60vh;

}
.gifHolder a:hover, .gifHolder a:focus, .gifHolder a:active {
    border: 6px solid dodgerblue;
}
.canvas img {
    width: 20%;
}
button.saveCanvas {
    border: none;
    background: rgb(38, 150, 255);
    color: white;
    font-size: 1.8rem;
    padding: 7px 40px;
    margin-top: 5vh;
    text-transform: uppercase;
    letter-spacing: 1px;
}