.editCanvas {
    h2 {
        margin: 5vh auto;
    }
    p, button {
        text-align: center;
        margin: 5vh auto;
        font-size: 1.8rem;
    }
}
.canvas {
    display: flex;
    flex-wrap: wrap;
    margin: 8vh auto 0 auto;
    background: transparent;
    width: 100%;
}
.gifHolder a {
    border: 6px solid transparent;
}
.gifHolder a:hover, .gifHolder a:focus, .gifHolder a:active {
    border: 6px solid dodgerblue;
}
.canvas img {
    width: 20%;
    height: 115px;
}
button.saveCanvas {
    border: none;
    background: rgb(38, 150, 255);
    color: white;
    padding: 7px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
button.saveCanvas:hover, button.saveCanvas:focus, button.saveCanvas:active {
    background: rgb(14, 127, 226);
}