section.pickGif {
    height: 115vh;
}
.pickGif input, .pickGif form button {
    margin-left: 5px;
    font-size: 1.5rem;
    padding: 5px;
    border: none;
}
.pickGif input {
    width: 250px;
    margin-bottom: 11vh;
}
.pickGif form button {
    padding: 5px 20px;
    background: #2dd304;
    color: white;
    text-shadow: 0 0 1px #208800;
}
.pickGif form button:hover, .pickGif form button:focus, .pickGif form button:active {
    background: #27c001;
}
.gifHolder {
    max-height: 95vh;
    max-width: 80vw;
    margin: 0 auto 10vh auto;
}
.gifHolder a {
    width: 20%;
    float: left;
    height: 12vw;
}
.gifHolder img {
    height: -webkit-fill-available;
}