.splashPage {
    padding-top: 25vh;
}
h1 {
    text-align: right;
    display: inline-block;
}
.content {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}
.splashPage .content {
    position: relative;
}
.splashPage button {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 7px;
    border: none;
    background: rgb(10, 10, 10);
    color: white;
    font-size: 1.8rem;
    padding: 7px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.25s ease;
}
.splashPage button:hover, .splashPage button:focus, .splashPage button:active {
    background: rgb(45, 211, 4);;
}